.ticket-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 502px;
    height: 184px;

    @media (max-width: 790px) {
        min-width: 350px;
    }
}